/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый цвет #FFFFFF */
/* текст контактов в футере rgba(255, 255, 255, 0,6) */
/* фон кнопки неактивной #F5F4FA */
/* черный цвет для лого #000000 */

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
}

.list {
  list-style: none;
}

/* Шапка сайта */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #ffffff;
}

.site-nav .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.contacts .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}
